# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# IDE
.vscode/
.idea/
*.iml

# Git
.git/
.gitignore

# 文档
docs/
*.md
LICENSE

# 其他
manifests/iac/
examples/
tests/
src/cli/
src/provider/.gitignore
src/provider/.pytest_cache/
src/provider/__pycache__/
src/provider/app/**/__pycache__/
src/provider/tests/
